<section class="bg-about d-flex align-items-center" style="height: 100vh;">
    <div class="container">
        <div class="text-muted my-3">
            <p>
                Hello! I'm Kolawole Mangabo, a software engineer.

                I enjoy creating things that live on the internet, whether that be websites, applications, or anything
                in
                between.<br> My goal is to always build products that provide pixel-perfect, performant experiences.
                <br>
                And when I am not coding, you can find me publishing articles on <a
                    href="https://medium.com/@koladev/">medium</a> or <a href="https://dev.to/koladev">DEV</a>,
                or just playing Spellbreak.
            </p>
            <br>
            Here are a few technologies I've been using recently:
            <ul>
                <div>
                    <li>Python</li>
                    <li>HTML & CSS</li>
                    <li>React / React Native</li>
                </div>
                <div>
                    <li>Vue</li>
                    <li>Django</li>
                    <li>Masonite</li>
                </div>
            </ul>
        </div>
        <div class="text-sm-center mt-sm-5">
            <a href="#contact" class="btn btn-lg button-bg-color text-white">Get in touch</a>
        </div>
    </div>
</section>
