.bg-blue-light{
    background-color: #a19766;
}

.bg-about{
    background-color: #e5eeeb;
}

.button-bg-color{
    background-color: #60a0af;
}

.bg-work{
    background-color: #f3937d;
}

.c-heading{
    color: black;
}